html,body{
    overflow: hidden;
    height:100%;
}

.wrap{
    width: 100%;
    overflow-y: auto;
}

.content,.investment-first{
    overflow: hidden;
}

.investment .investment-first{
    margin-bottom: 20px;
}

.content .overview{
    width:100%;
    height:254px;
    background:#042246;

}
.overview>div{
    float:left;
}

.cabinIndex,.investment,.bids,.contract,.agreement{
    width: 100%;
    height: 100%;
    padding: 0px 2%;
    background: #042246;
   /* overflow-y: auto;*/
}

.cabinIndex .module-title {
    line-height: 57px;
}

.cabinIndex .module_2{
    margin-top: 0px;
}

.module_1{
    width:20%;
    height:206px;
    margin-top: 6px;
}
.module_2{
    width:19%;
    height:206px;
    margin-top: 6px;
    margin-left: 0.9%;
}

.module-title{
    height: 59px;
    color: #84a3b7;
    line-height: 56px;
    position:relative;
}
.module_2 .module-title{
    color:#fafff9;
    margin-top: 6px;
}
.module-title>span{
    margin-left:6px;
    font-size:16px;
}
.module_2 .module-title>span{
    font-size:16px;
}

.date {
    display: inline-block;
    border: 1px solid #00a8f8;
    height: 28px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    cursor: pointer;
    margin-left: 4px;
    background: #114e91;
    right: 10px;
    top:16px;
    z-index: 0;
    font-size:16px;
}

.module-content{
    height: 160px;
    background: #042e60;
    color: #8eb5d2;
    font-size: 14px;
    padding-top: 10px;
    border-radius: 2px;
    box-shadow: 0 0 4px 4px #003265 inset;
    overflow: hidden;
}

.module-content>div{
    float:left;
}

.content_1{
    text-align:center;
    width:33%;
    padding-top:43px;
}

.module-num{
    margin-top:20px;
    color:#3bb4fb;
}
.module-num>span{
    font-size:20px;
    font-weight: 600;
}

.module_2 .module-content{
    width:100%;
}

.module-content .box{
    margin-left:4.5%;
    margin-bottom: 5%;
    width: 88%;
}

.box-title{
    color:#d7f2ff;
    margin-bottom:4px;
}

.ok{
    width: 100%;
    height: 22px;
    color: #93bbd4;
    margin-bottom: 4px;
}

.module_3 .ok{
    margin-top:6px;
}

.module_3 .box-title{
    margin-top:6px;
}

.box .last-two>div{
    float:left;
}

.box .last-two>div:nth-of-type(1){
    margin-right:18px;
}

.yuan {
    color: #3bbaef;
    font-size: 14px;
    font-weight: 600;
    margin: 0 4px;
}

.ok-rate{
    float:right;
}

.ok-title{
    float:left;
}

.module_3 .module-content .box{
    margin-bottom: 2%;
}

.invest-content .module-content .box{
    margin-bottom:5%;
}

.module-content .box{
    margin-left:4.5%;
    margin-bottom: 5%;
    width: 88%;
}

.module2_box_title{
    margin-bottom:13px;
}

.left_b{
    position:relative;
    float: left;
    height:100%;
    width: 59.8%;
}

.map-box{
    width:100%;
    height:100%;
}

.map{
    position:relative;
    /*height:100%;*/
    height:664px;
    overflow:hidden;
}

.map-container{
    height:100%;
    min-height:664px;
}

.search-box{
    position: absolute;
    top: 24px;
    left: 29px;
    z-index: 9;
}

.map-box {
    width: 100%;
    height: 100%;
}

.iconFind{
    background-color: #338bff;
    border-radius: 2px;
    height: 40px;
    width: 50px;
    float: right;
    cursor: pointer;
    position: relative;
    top: 0px;
}

.enlarge{
    width: 50px;
    height: 50px;
    color: #fff;
    position: absolute;
    right: 22px;
    top: 24px;
    z-index: 9;
    cursor:pointer;
}

.infoWin table {
    width: 100%;
    font-size: 14px;
    height: 96%;
}

.infoWin table tr {
    height: 30px;
}

.infoWin .info-table-th {
    border-top: 1px solid #dde1e4;
}

.infoWin th {
    font-weight: 600;
    color: #2e445b;
    background: #f8f9fb;
    border-left: 1px solid #dde1e4;
    border-bottom: 1px solid #dde1e4;
    border-left: 1px solid #dde1e4;
    border-right: 1px solid #dde1e4;
    border-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 14px;
    font-family: "微软雅黑";
}

.infoWin td {
    width: 60%;
    padding-left: 10px;
    vertical-align: right;
    color: #666666;
    border-bottom: 1px solid #dde1e4;
    border-right: 1px solid #dde1e4;
    font-size: 14px;
    padding: 3px 10px;
    font-family: "微软雅黑";
}

.instruction>div{
    background:#062750;
    float:left;
}
.evaluate{
    height:325px;
    width:30%;
    border: 1px solid #11375e;
    position:relative;
}

.evalute_box{
    height:280px;
   
}

.self-tip{
    position: absolute;
    top: 123px;
    left: 82px;
    text-align: center;
}

.proj_total{
    height:325px;
    width:67.8%;
    margin-left:2%;
    border: 1px solid #11375e;
}

.proj_box{
    height:260px;
}

.textbox-text,.textbox{
    border:0;
    outline:0;
    border-radius:0;
}

.reduce{
    display:none;
}

.payfor .tiao{
    background:#4bba30;
}

.company .textbox-text{
    background: transparent;
    color: #a0d1ff;
    outline: 0;
    border: 0;
    width: 168px!important;
    position: relative;
    z-index: 9999;
    line-height: 18px;
    cursor: pointer;
    top: 3px;
}

.combobox-item, .combobox-group {
    font-size: 16px;
}

.company .textbox-focused{
    border:0!important;
    outline:0!important;
}

.company .textbox-focused .textbox-text{
    border:0!important;
    outline:0!important;
}

.company .textbox.combo{
    border:0!important;
    outline:0!important;
    height: 30px!important;
    border-radius: 4px;
}

.combobox-item{
        background: #a3b8c9;
}

.combobox-item-hover{
    background:#638db0;
    color:#f9f9f9;
}

.right_title{
    height:30px;
    line-height:30px;
    background:#042e60;
    padding-left:22px;
    color: #f4f4f4;
    font-size:16px;
}

.evaluate {
    height: 325px;
    width: 30%;
    border: 1px solid #11375e;
    position: relative;
}

.instruction {
    width: 100%;
    margin-top: 16px;
    overflow: hidden;
}

.right_b {
    float: right;
    width: 38.7%;
    margin-left: 1%;
    position: relative;
}

.right_title {
    height: 30px;
    line-height: 30px;
    background: #042e60;
    padding-left: 22px;
    color: #f4f4f4;
    font-size: 16px;
}

.right_b .right_box {
    height: 293px;
}

.right_b>div {
    /* height: 318px; */
    height: 325px;
    border: 1px solid #11375e;
}

.right_b>div {
    height: 33.3%;
    width: 100%;
    background: #062750;
    margin-bottom: 15px;
    position: relative;
}

.middle-box>div {
    height: 300px;
    width: 50%;
    float: left;
}

.bids-content{
    width:100%;
    height:194px;
    overflow: hidden;
}

.bids-content>div{
    float:left;
}

.bids-content>div:nth-of-type(2){
    margin: 0 1%;
}

.bids-banner-title{
    width:11%;
    margin-right:10px;
}

.bid-banner-span{
    display:block;
    width:100%;
    height:38px;
    line-height: 38px;
    color:#78aae5;
    background:#083e7c;
    text-align:center;
    border-bottom: 1px solid #021d3b;
    border-top:1px solid #27649b;
    position:relative;
    cursor: pointer;
    font-size:16px;
}

.bids-banner-title-active{
    background: #058bea;
    color: #fff;
    box-shadow: 0px 1px 3px #04213c;    
}

.bid-banner-span i{
    display: none;
}

.bids-banner-title-active i{
    display: inline-block;
    background:url(../img/right-triangle.png) no-repeat;
    position:absolute;
    width: 11px;
    height: 16px;
    right: -11px;
    top: 10px;
}

.payfor .bid-banner-span {
    height: 48px;
    line-height: 48px;
}

.bids-year-count{
    width:43%;
    height:190px;
    border:1px solid #043766;
    background:#062750;
    color:#f4f4f4;
    font-size: 14px;
}
.bids-panel{
    width:126px;
    height:118px;
    background:#133d6f;
    margin-left: 18px;
    margin-top: 10px;
    text-align: center;
    padding-top: 28px;
}
.bids-year-count-title{
    height:40px;
    line-height:40px;
    padding-left:18px;
    color: #f4f4f4;
    font-size:16px;
}
.agreement-first .bids-year-count-title{
    padding-left:8px;
}
.contract-year-count .bids-year-count-title{
        line-height: 58px;
}
.contract-year-count .bids-middle{
        margin-top: 8px;
    padding-top: 14px;
}
.bids-year-count-title img{
    position: relative;
    top: 3px;
    margin-right: 7px;
}
.bids-year-content{
    position:relative;
}
.bids-year-content>div{
    float:left;
}
.bid-nums span{
    font-size:28px;
    color:#39adff;
    font-weight: bolder;
    margin-right:4px;
}
.bid-nums{
    color:#3aaeff;
}
.bids-finished{
    margin-bottom: 10px;
}
.bids-middle-content{
    color:#a4c0d5;
    margin-left: 18px;
    line-height: 20px;
    margin-top: 8px;
   
}
.bids-middle-content>span{
     font-size:20px;
     color: #f4f4f4;
     margin-right: 4px;
     margin-left: 2px;
}
.bids-middle-content>i{
     color: #f4f4f4;
}
.bids-middle-1{
    border-right:1px solid #123c6e;
}
.bids-middle{
    margin-top: 13px;
    line-height: 52px;
    width: 37%;
   /* padding: 15px 0;*/
}
.bids-middle-2{
    margin-left:18px;
}
.bids-content_2{
    margin:28px 0;
    height:252px;
    
}
.bids-content_2>div{
    float:left;
    background: #062750;
}
.bids-content_2>div:nth-of-type(1){
    height: 100%;
    width: 67.5%;
    border: 1px solid #043766;
    position:relative;
}
.bids-content_2>div:nth-of-type(2){
    height: 100%;
    width: 31.3%;
    border: 1px solid #043766;
    margin-left: 1%;
    position: relative;
}
.bids-content-header{
    background: #083e7c;
}

.middle-tip{
    color: #f4f4f4;
    width: 98px;
    text-align: center;
    font-size: 16px;
    position:absolute;
}
.bids-content_2 .middle-tip_1{
    top: 35%;
    left: 25.5%;
    width: 115px;
    height: 115px;
    line-height: 115px;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 50%;
}
.bids-content_2 .middle-tip_2{
    top: 40%;
    left: 44.5%;
    width: 92px;
    height: 92px;
    padding-top: 28px;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 50%;

}
.bids-content_2 .middle-tip_3{
    top: 35%;
    left: 63.5%;
    width: 115px;
    height: 115px;
    line-height: 115px;
    line-height: 115px;
    border-radius: 50%;
    border: 1px solid transparent;
    text-align: center;
}
.bids-content_2 .middle-tip_4{
    top: 35%;
    left: 82.5%;
    width: 115px;
    height: 115px;
    padding-top: 39px;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 50%;
}
.bids-content_3{
    height:398px;
    margin-bottom: 28px;
}
.bids-content_3>div{
    float:left;
}
.bids-content_3>div:nth-of-type(1){
    height:100%;
    width:64%;
    border: 1px solid #043766;
    background: #062750;
}
.bids-content_3>div:nth-of-type(2){
    background: #062750;
}
.bids-content_3>div:nth-of-type(2){
    height: 100%;
    width: 35%;
    border: 1px solid #043766;
    margin-left: 1%;
}

.bids-content_3 .sub-title{
    height:56px;
    line-height:56px;
    width:100%;
}
.bids-content_3 .rank-list tr td {
    height: 60px;
}

.payfor .bid-nums span{
    font-size:20px;
}

.payfor .bids-middle-content>span {
    font-size: 18px;
}

.payfor .bid-nums,.payfor .bid-nums span{
    color:#fff;
}

.invest-left-c{
    border: 1px solid #063666;
    width: 63.1%;
    height: 668px;
    max-height: 668px;
    overflow-y:auto;
    background: #062750;
}
.invest-right-c{
    width: 35.5%;
    border: 1px solid #063666;
    max-height: 668px;
    height: 668px;
    overflow: hidden;
    margin-bottom: 16px;
}
.investment .overview{
    overflow:hidden;
}

.invest-charts{
    margin-top:28px;
    overflow:hidden;
}
.invest-charts>div{
    
    float:left;
}
.invest-charts>div:nth-of-type(1){
    margin-right: 12px;
}
.invest-month-finished{
    height:430px;
}

.invest-month-title{
    background: #042e60;
    height: 40px;
    line-height: 40px;
    color: #f4f4f4;
    padding-left: 4%;
    font-size: 16px;
    width: 100%;
    position:relative;
}
/*.swiper-container,.swiper-wrapper{
   width:100%!important;
}
.swiper-slide{
    width:100%!important;
    overflow:hidden;
}*/

.swiper-container{width:100%!important;}
.swiper-wrapper{width:100%!important;}
.swiper-slide {
    width:100%!important;
}
.changebox>div{
    width:99%;  
}
.rank-list tr td{
    height: 58px;
}
.charts-invest-top{
    width:100%;
    height:430px;
    overflow:hidden;
    padding-bottom:10px;    
}
.invest-table{
    clear:both;
    margin:0 auto;
    margin-top: 74px;
    table-layout: fixed;
}
.invest-table th{
    width:58px;
    height:30px;
    line-height: 30px;
    text-align: center;
    background:#174579;
    color:#93b4c5;
    border:1px solid #032d57;
}
.invest-table td{
    width: 56px;
    text-align: center;
    background: #073163;
    color: #fff;
    border: 1px solid #032d57;
    padding: 8px 0;
    word-wrap: break-word;
    word-break: normal;
}
.select-container{
    display: inline-block;
    float: right;
    margin-right: 15px;
}
.select-style{
    width: 85px;
    height: 22px;
    line-height: 20px;
    display:inline-block;
    border: 1px solid #598fbb;
    text-align: center;
    margin-left: 14px;
    position:relative;
    cursor: pointer;
}
.selected-active{
    width: 16px;
    height: 8px;
    background: url(../img/down-triangle.png) no-repeat;
    position: absolute;
    left: 35px;
    top: 20px;
}

.module-title .el-date-editor.el-input{
    margin-left: 20px;
    width: 120px;
}

.module-title .el-input__inner{
    height: 30px;
    line-height: 30px;
}

.search-box .el-input{
    width:auto;
}

.search-box .el-input__inner{
    width:300px;
    border-radius: 0;
}

.invest-table{
    clear: both;
    margin: 0 10px;
    margin-top: 74px;
    table-layout: fixed;
    font-size: 12px;
}

.invest-table td {
    width: 56px;
    text-align: center;
    background: #073163;
    color: #fff;
    border: 1px solid #032d57;
    padding: 8px 0;
    word-wrap: break-word;
    word-break: normal;
}

.investment-chart-box {
    margin-bottom: 10px;
    background: #062750;
    border: 1px solid #063666;
    position: relative;
}

.investment-chart-box .middle-tip_1 {
    top: 40.5%;
    left: 40%;
    border: 1px solid transparent;
    height: 93px;
    padding-top: 26px;
    border-radius: 50%;
    width: 94px;
}

.investment-chart-box .middle-tip_2 {
    top: 40.5%;
    left: 74%;
    border: 1px solid transparent;
    height: 93px;
    border-radius: 50%;
    width: 94px;
    padding-top: 26px;
}

.more-info {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/more.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 8px;
}

.selected-active-c {
    background: #048ae9;
    color: #fff;
}

.sub-title {
    background: #062750;
    color: #91b4c8;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    width: 100%;
    padding-left: 4%;
    padding-right: 2%;
}

.sub-title-right {
    float: right;
}

.sub-title-box {
    display: inline-block;
    margin-left: 6px;
    cursor: pointer;
}

.sort-img {
    width: 12px;
    height: 20px;
    display: inline-block;
    background: url(../img/default-sort.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 4px;
    left: -2px;
}

.sort-img-rate {
    width: 12px;
    height: 20px;
    display: inline-block;
    background: url(../img/descend.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 4px;
    left: -2px;
}

.rank-list-c {
    position: relative;
    width: 100%;
}

.rank-list {
    font-size: 16px;
    color: #e7eded;
    width: 100%;
}

.rank-list tr:nth-child(odd) {
    background: #042e60;
}

.rank-list tr {
    width: 100%;
}

.rank-list tr td {
    height: 58px;
}

.real-rank-list {
    position: absolute;
    left: 0;
    top: 0;
}

.no-data {
    position: absolute;
    width: 146px;
    display: none;
}

.first-td {
    text-align: right;
    width: 8.8%;
}

.second-td {
    width: 52%;
    cursor: pointer;
}

.third-td {
    text-align: center;
    width: 20%;
}

.forth-td {
    text-align: center;
}

.sortRankChose{
    background:url(../img/ascend.png) no-repeat;
    width: 12px;
    height: 20px;
    display: inline-block;
    background-size: 100% 100%;
}

.rankChild{
    cursor: pointer;
}